* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #242333;
  color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  color: #ffffff;
  background-color: blue;
}
.logo {
  flex: 1;
}
nav ul {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  list-style-type: none;
}
main {
  padding: 1rem;
  width: 100%;
}
.movie-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.movie-holder a {
  flex: 1;
}
#loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #878787;
  border-radius: 50%;
  margin: auto;
  width: 120px;
  height: 120px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.movie-img-wrapper {
  background-size: cover;
  width: 200px;
  height: 250px;
}
#booker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#booker-grid-holder {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 2rem;
}
.booking-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
  height: 150px;
  width: 200px;
  color: #fff;
  font-weight: 600;
}
#confirm-purchase {
  display: grid;
  place-items: center;
  font-size: 1.2rem;
}
#booking-grid-undefined {
  font-size: auto;
}
.seat {
  display: grid;
  place-content: center;
  /* background-color: pink; */
}
.available-seat {
  background-color: #f5f5f5;
  color: #878787;
  cursor: pointer;
}
.unavailable-seat {
  background-color: #abb9f8;
  color: #fff;
  cursor: pointer;
}
.select-seat {
  background-color: #9fe2ff;
  color: #000;
}

.screen {
  background: #fff;
  height: 70px;
  width: 70%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.d-none {
  display: none;
}
.v-none {
  visibility: hidden;
}
input,
button[type="submit"] {
  width: 200px;
  height: 35px;
  padding: 0.5rem;
}

/* Custom class */
.mouse-pointer {
  cursor: pointer;
}
